
nav{
    background-color: rgba(0,0,0,0)!important;

    border:none!important;
    font-size:40px;
}

.row-header{
    margin-top:40px;
}



/*Login Buttons*/
.navbar-items{
    background: rgba(0,0,0,0);
    border:0;
    color:#7e4412!important;
    position:relative;
    margin-top:40px;
    
    
    
}

.login-button{
    margin-top:36px;

}

#header{
    font-size:100px;
    color: #7e4412;
}

@media only screen and (max-width: 520px) {

/*Home Body*/
#header{
    font-size:80px;
}
}
