
nav{
    background-color: rgba(0,0,0,0)!important;
    border:none!important;
    font-size:40px;
}

.row-header{
    margin-top:40px;
}

/*Login Buttons*/
.navbar-items{
    background: rgba(0,0,0,0);
    border:0;
    color:#1b1812!important;
    position:relative;
    margin-top:40px;
    
    
    
}

.login-button{
    margin-top:36px;
    color:#1b1812!important;
}

#header{
    font-size:100px;
}

/*Home Body*/
.logo{
    max-height:500px;
}

