h2, h3, h1, h4, h5, h6{
    color: #7e4412;
}

table {
    border: 1px solid #7e4412;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid #7e4412;
}

/*Profile*/
.media
{
    /*box-shadow:0px 0px 4px -2px #000;*/
    margin: 20px 0;
    padding:30px;
}
.dp
{
    border:10px solid #ffca68;
    transition: all 0.2s ease-in-out;
    margin-bottom:20px;
}
.dp:hover
{
    border:2px solid #ffca68;
    transform:rotate(360deg);
    -ms-transform:rotate(360deg);  
    -webkit-transform:rotate(360deg);  
    /*-webkit-font-smoothing:antialiased;*/
}
.media-heading{
    font-size:30px;
}

.email {
    height:25px;
    padding-right:4px;
    padding-left:4px;
  }
/*top row of page (profile, events)*/
.row-top{
    margin-top:100px;
}
.label{
    font-size:15px;
    background-color:#ffca68;
    color:#7e4412;
}
@media only screen and (max-width: 768px) {
    .row-top {
        margin-top:20px;
    }
}

.profile-div{
    min-width:350px;
     margin-right:10px;
     background-color:#eba123;
     border: 6px solid #eba123;
     border-radius:10px;
}


/*Event printout*/
.event-item{
    position: relative;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:10px;
    width:300px;
    padding: 10px;
    background-color: #eba123;
    border: 3px solid #e4e000;
    border-radius: 10px;
}

@media only screen and (max-width:1239px){
    .event-item{
        width:230px;
    }
}

@media only screen and (max-width:1079px){
    .event-item{
        width:180px;
    }
}
@media only screen and (max-width:1079px){
    .profile-div{
        margin-bottom:20px;
    }
}

.event-date{
    font-size:26px;
}
.event-name{
    font-size:32px;

}

.event-img{
    height:150px;
}

.event-buttons{
    font-size:30px;
    margin-top:20px;
}

.event-button{
    background-color:#ffca68;
    border: 3px solid #eba123;
    border-radius:10px;
    padding:8px;
    color: #7e4412;
    text-decoration: none;
}

.event-button:hover{
    color: #7e4412;
    text-decoration: none;
}
.event-remove{
    background-color: rgb(236, 47, 47);
    color: #ffca68;
}
.event-remove:hover{
    color: #ffca68;
}